<li>
  <div class ="row">
	  <div class = "span2">
	  	<%= image_tag social_link.social_image, size:"150" %>
	  </div>
	  <div class = "span4">
		  <%= social_link.social_name %> |
		  <%= link_to "delete", social_link, method: :delete,
		              data: { confirm: "You sure?" } %> |
		  <%= link_to "Edit", onclick: "" %>
	  </div>
  </div>
  <div class = "row">
      <div id ="edit_form" class ="span6">
	  </div>
  </div>
</li>