<li>
  <%= image_tag user.user_image_url.to_s, size:"80" %>
  <%= link_to user.first_name+" "+ user.last_name, user %>
  <% if signed_in? %>
	  <% if current_user.admin? && !current_user?(user) %> 
	    | <%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	  <% end %>
   <% end %>


</li>