<li>
  <%= link_to event.event_name, event %>
  Organized by:
  <%= link_to event.user.first_name+" "+ event.user.last_name, event.user  %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span> |
  <%= link_to "delete", event, method: :delete,
              data: { confirm: "You sure?" } %> 
</li>