<% provide(:title, 'Create Event') %>
<h1>Create Event</h1>


<div class="row">
  <div class="span4 offset2">
    <%= form_for(@event) do |f| %>

      <%= f.label :event_name %>
      <%= f.text_field :event_name %>

      <%= f.submit "Create my event", class: "btn btn-large btn-warning" %>
    <% end %>
  </div>

</div>
