
@import "bootstrap";
@import 'bootstrap-datetimepicker';

/* mixins, variables, etc. */


$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  background-color: #F5F5F5;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

.container{
  margin-top: 0px;
  margin-bottom: 0px;
  width:1000px;
}

.body-container{
  background-color: #ffffff;
  padding: 25px;
  margin-top: 0px;
  border: 1px solid black;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 20px 1px #e0e0e0;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: left;
}
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}
p{
font-size: 1.2em; 
}

a:hover{
  color: #FFA319;
  text-decoration: none;
}

/* header */

.navbar-inverse .navbar-inner {
  background: #ffa319;
  background-image: linear-gradient(to bottom,#FFA319 , #F8B932);
  background-repeat: repeat-x;
  border: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #FFFFFF;
font-size: 1.1em;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover  {
background-color: transparent;
color: rgb(56, 56, 56);
font-weight: 700
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li >  a:active {
background-color: transparent;
color: rgb(56, 56, 56);
font-weight: 700
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
	color: #474747;
  text-decoration: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: rgb(95, 82, 82);
  background-color: #FCDFC9;
  box-shadow: none;
}



/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #FFA319;
  color: #999;
}

footer a {
  color: #999;
}

footer a:hover {
  color: #222;
  text-decoration: none;
}

footer ul {
  list-style: none;
}

footer ul li {
	float: left;
  margin-left: 20px;
  margin-right: 20px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
  @include box_sizing;
}
.must-fill-feild{
  color: red;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



.fa{
  font-size: 10px;
}





/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    .users_image{
      height: 55px;
      width: 55px;
    }
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.events {
  list-style: none;
  margin: 10px 0 0 0;
  color: #7C7979;
  li {
    padding: 15px 0;
    border-top: 1px solid #e8e8e8;
    line-height: 25px;
    .event-title{
      color: #333333;
      font-size: 1.5em;
      line-height: 35px;
    }
    a{
      color: #333333;
    }
    a:hover{
      color: #FFA319;
      text-decoration: none;
    }
    detail{
      color:#FFA319;
      font-size: 1.3em;
      text-align: center;
    }
  }
}




.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}


.content {
  display: block;
}
.timestamp {
  color: $grayLight;
  font-size: 0.9em;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}




.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/*--------TILTLE HEAD -----------*/

.event_title_head{
  padding: 10px 15px ;
  padding-bottom: 1px;
  font-size: 1.1em;
  color: #FFA403;

}

.subtitle_head{
  margin-top:40px;
  margin-bottom: 0px;
  padding: 10px 15px ;
  background-color: #E7E7E7;
  font-size: 1.1em;
  color: #FFA403;
}

.subtitle_tab_head{
  margin-top: 30px;
  padding: 10px 15px ;
  padding-bottom: 1px;
  background-color: #E7E7E7;
  font-size: 1.1em;
  color: #FFA403;
}

.subtitle_content{
  margin: 0px 0px 0px 0px;
  padding: 15px 30px;
  border: 2px solid #E7E7E7;
  border-top: none;
  margin-bottom: 30px;

}





/* ---------- TAB ---------- */

.nav-tabs {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: none;
}

.nav-tabs >ul{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.nav-tabs > .active>li > a{
  background-color: transparent;
  border: none;
  color: #555555;
  cursor: default;
   &:hover{
    background-color:transparent;
    border:transparent;
    border-bottom: 4px solid #FFA403;

  }
}
.nav-tabs > li > a {
size: 1em;
padding-top: 6px;
padding-bottom: 10px;
line-height: 10px;
border: 1px solid transparent;
color: rgb(133, 133, 130);
  &:hover{
    background-color:transparent;
    border:transparent;
    border-bottom: 4px solid #FFA403;
  }
}

.nav-tabs > .active > a {
  background-color: transparent;
  border: none;
  color: #FFA403;
  cursor: default;
  border-bottom: 4px solid #FFA403;
  &:hover{
    background-color:transparent;
    border:transparent;
    color: #FFA403;
    border-bottom: 4px solid #FFA403;
  }
}



/* ----------------------------------------- */
/* --------------- CALENDER ---------------- */
/* ----------------------------------------- */

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #46443F;
  color: white;
  text-align: center;
  width: 14.2857142857143%;
  font-size: 1em;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 110px;
  vertical-align: top;
  font-size: 0.8em;
}

#calendar .notmonth {
  color: #B4B2B2;
  background-color: #FAFAFA
}


#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
  text-decoration: bold;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  
}
