<li>
  <%= location.map_number %> |
  <%= location.location_name %> |
  <%= link_to "delete", location, method: :delete,
		              data: { confirm: "You sure?" } %> |
  <%= link_to "Edit", onclick: "" %>

</li>

