
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BEE MUIC", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right nav-pills">
          <li class="active"><%= link_to "SIGN IN", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
